body {
    font-family: Arial, sans-serif;
}

nav {    
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
  
.advanced-search-nav ul {
    display: flex; /* Usa Flexbox para o layout */
    justify-content: space-between; /* Espaça os itens de lista uniformemente */
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em;
}

nav li a {
    font-size: 0.8em;
    text-decoration: none;
    color: black; 
    padding: 0.5em; 
}

nav li a:link {    
    text-decoration: none;
}

nav li a:active {
    text-decoration: none;
}


nav li a:visited {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

#main_search {
    text-align: center;
    row-gap: 0.5em; 
    max-width: 800px;
    margin: 01em auto 0 auto;
}

#searchBar {    
    width: 90%;
    padding:1.2em;
    border: 1px solid #ccc;
    margin-bottom: 2em;
    border-radius: 2em;
}

#searchBar:hover {  
    box-shadow: 0px 0px 5px 1px lightgray;
    
}

#searchBar:focus {  
    outline:none;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 1px lightgray;    
}

#button_search {
    background-color: #F8F9FA;
    border:1px solid transparent;
    padding:0.8em 1.2em;
    border-radius: 0.3em;
}

#button_search:hover {
    border:1px solid lightgray;    
}

#button_lucky {
    background-color: #F8F9FA;
    border:1px solid transparent;
    padding:0.8em 1.2em;
    border-radius: 0.3em;
}

#button_lucky:hover {
    border:1px solid lightgray;
}

#advanced_search {
    display: grid;
    margin:100px 0px 0px 30px;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em; 
    max-width: 800px;
    margin-top: 100px;
}

#advanced_search label {
    font-size: 0.9em;
}

#advanced_search input[type="text"] {    
    padding:0.3em;
    border: 1px solid #ccc;
    border-radius: 0em;
}

#advanced_search input[type="text"]:focus {
    outline:1px solid ;
    outline-color: #4D8FFC;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 1px lightgray;
}

#advanced_search input[type="submit"] {
    color:white;
    grid-column: 1 / -1;
    justify-self: end;    
}

#advanced_search #button_search {
    background-color: #4D8FFC;
    border-radius: 0.1em;
}

#advanced_search #button_search:hover {
    border:1px solid transparent;
    background-color: #4988ec;
    border-radius: 0.1em;
}

#logo {
    display: block;
    margin: auto; 
    max-width: 100%;
    height: auto; 
    margin-top:10em;
}

#logo_header {
    height:24px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.gy3Eif {
    border-bottom: 1px solid #ebebeb;
}